@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Card-background: hsla(215, 25%, 13%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--Very-Dark-Blue);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

#cardDisplay-2 {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    opacity: 0; 
    animation: fadeInUp 1s forwards;
}

.card-container {
    background-color: var(--Card-background);
    border-radius: 25px;
    padding: 30px;
    width: 375px;
    height: 370px;
    margin: 0 20px;
}

.icon-star {
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--Dark-Blue);
}

h1, h2 {
    color: var(--White);
    margin-bottom: 15px;
}

p {
    color: var(--Medium-Grey);
    margin-bottom: 30px;
}

.rating-paragraph {
    padding-right: 20px;
}

button {
    font-family: 'Overpass', sans-serif;
}

.button {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
}

.rate {
    background-color: var(--Dark-Blue);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    margin-bottom: 25px;
    color: var(--White);
    transition: background-color ease-in-out 200ms;
}

.rate:hover {
    background-color: var(--Light-Grey);
}

.rate:focus {
    background-color: var(--Orange);
}

#submit-button {
width: 100%;
height: 40px;
background-color: var(--Orange);
color: var(--White);
border-radius: 30px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;
border: none;
transition: background-color ease-in-out 200ms;
}

#submit-button:hover{
    background-color: var(--White);
    color: var(--Orange);
}

/* THANK YOU STATE */
#cardDisplay-2 {
    text-align: center;
}

.illustration-thank-you {
    margin-bottom: 15px;
}

#displayRate {
    color: var(--Orange);
    background-color: var(--Dark-Blue);
    padding: 10px 12px;
    font-weight: 700;
    border-radius: 20px;
    display: inline-flex;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}